body {
  background-color: cornflowerblue;
}

.title {
  text-align: center;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
}

.mole-box {
  height: 500px;
  width: 500px;
}

.mole-img {
  max-width: 500px;
  max-height: 500px;
}

.hide-mole {
  display: hidden;
}

button {
  font-size: 30px;
  background-color: antiquewhite;
}

.hidden {
  display: none;
}
